/* normalizer */

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}


body{
    margin-top: 4em;
    margin-bottom: 4em;
    background-color: #292929;
    background-image: url(./imgs/coolbackgrounds-fractalize-clear_lagoon.png);
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

header{
    text-align: center;
}

h1{
    color: #fff;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}