/* normalizer */

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}


body{
    margin-top: 4em;
    margin-bottom: 4em;
    background-color: #292929;
    background-image: url(./imgs/coolbackgrounds-fractalize-clear_lagoon.png);
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

header{
    text-align: center;
}

h1{
    color: #fff;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

section a{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #000;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: ease-in;
    padding: 0.5em 1em;
    border-radius: 8px;
}

section a:hover{
    color: #cdcdcd;
    background-color: #000000b0;
    cursor: pointer;
    
}

.fixed{
    position: fixed;
}

.relative { position: relative;}


.w-4{ width: 4em;}
.h-4{ height: 4em;}

.bottom-4{ bottom: 4em;}
.right-4{ right: 4em;}

.w-full{ width: 100%;}
.h-full{ height: 100%;}

.w-3{ width: 3em;}
.h-3{ height: 3em;}

.bottom-3{ bottom: 3em;}
.right-3{ right: 3em;}
.left-3{ left: 3em;}

.bottom-2{ bottom: 2em;}
.right-2{ right: 2em;}
.left-2{ left: 2em;}
